body {
  /* Remove user agent (browser) stylesheet styling */
  font-family: fantasy, sans-serif;
  padding: 0 0 10px 0;
  margin: 0;
  background-color: rgb(189, 214, 235);
}

header {
  text-align: center;
  background-color: #C6C6C6;
  padding: 20px 0 0 0;
}

nav {
  background-color: #C6C6C6;
  padding: 20px 0;
}

h1 {
  text-align: center;
  font-size: 35px;
  background-color: #C6C6C6;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  padding: 20px 0 0 0;
}

nav a {
  text-align: center;
  padding: 0 40px 0 40px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: green;
  text-decoration: underline;
}

section {
  /* Floating elements sit next to each other on one line as far as there is room. Float: left; makes elements sit next to each other starting on the left. We can also use float: right;  */
  float: left;
  /* We set a width of 50% to split the screen into two columns */
  width: 50%;
  height: 500px;
}

/* The section .name (luxury) color - text, background-color - background */
section div {
  padding: 0 40px;
}

/* This styles up elements in html with a class of .big-image */
.big-image {
  /* This stretches the background images to cover the sections */
  background-size: cover;
}

/* These add different background images to the sections with id attributes */
/* The first is how to change to a selected area */
#luxury {
  background-image: url('../images/luxury.jpg');
  background-position: center;
}

#safari {
  background-image: url('../images/safari.jpg');
  background-position: center;
}

#cruise {
  background-image: url('../images/cruise.jpg');
  background-position: center;
}

div {
  /* This moves the topic content vertically down inside the sections with text. To adjust position, increase or decrease the percentage*/
  transform: translateY(25%);
  display: block;
}

form {
  /* This fixes the floated layout and allows us to add height to the form */
  clear: left;
  /* This centers text elements only - inputs, p  */
  text-align: center;
  /* Moves block level elements - like section, h1, form tags, divs, nav into the middle of the screen, provided they have a width */
  /* margin: 0 auto;
  width: 700px; */
}

textarea {
  height: 100px;
  resize: none;
}

form button {
  display: block;
  margin: 0 auto;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  background: #ffffff;
  padding: 5px 10px 1px 10px;
  text-decoration: none;
}

button:hover {
  #C6C6C6
}

/* can you make stuff transparent
how can i change an individual title to the right while the rest are left
h1 background doesnt fill properly*/
form {
  background-color: rgb(189, 214, 235);
}